img {
	border-radius:20px;
	border: 5px white;
	height: 250px;
	width: 350px;
	margin: 0 auto;
	display: block;
}
h1 {
	text-align: center;
	padding: 50px;
	font-size: 50px;
	color: white;
}
.top {
	background-image: url("http://www.wallpapereast.com/static/images/Cool-Wallpaper-14D0.jpg");
	height: 600px;
}
body{
	background-color: black;
}
.main {
	background-color: black;
	color: white;
}
.main ul{
	text-align: center;
	text-decoration: none;
}
li{
	display: inline-block;
	padding-right: 50px;
	padding-left: 50px;
	text-decoration: none;
	font-size: 30px;
	text-align: center;
	color: white;
	padding-bottom: 100px;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color:red;
}

